@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400;1,600&display=swap');

html{
    background-image: url("../images/footer_art.png");
    background-color: #042444;
}


a{
    font-family: inherit;
    font-size : inherit;
    font-weight: lighter;
    text-decoration: none;
    color: #d1d3d4;
    position: relative;
}

h1{
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
}


.navbar{
    width: 100%;
    position: absolute;
    margin-left: -50vw;
    height: 8vh;
    left: 50%;
    background-color: #1A3A5E;
    display: flex;
    align-items: center;
}

.logo{
    height:4vh;
    padding-left: 3rem;
}

.navbar-links{
    height:inherit;
    display: flex;
    align-items: center;
    position: absolute;
    margin-right: -47vw;
    right:50%
}

.navbar-link{
    margin: 0 1vw;
    font-family: 'Bebas Neue', cursive;
    font-size : 50px;
}

.sidebar{
    width: 10%;
    position: absolute;
    margin-left: -48vw;
    left: 50%;
    top: 50%;
    display: flex;
    align-items: center;
    justify-items: bottom;
}

.sidebar-links{
    position: absolute;
    padding-top: 3px;
    padding-bottom: 3px;
    justify-items: center;
}


.sidebar-link{
    margin: 0 1vw;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: white;
    padding-top: 3px;
}
